
footer {
  color: #caced1;
}

li {
  margin-top: 20px;
  margin-bottom: 20px;
}

.Careers {
  cursor: pointer;
  color: #1e88e5;
}

.row-1 {
  background-color: #020F1F;
}

.row-2 {
  background-color: #020F1F;
}
